## Setup py requirements
jsonpickle==1.0.0
six==1.11.0
redis==2.10.6
fakeredis==0.10.3
future==0.17.1
numpy~=1.16.0
typing==3.6.6
ruamel.yaml==0.15.85
requests~=2.2
h5py==2.7.1
apscheduler==3.5.1
tqdm==4.29.1
ConfigArgParse==0.13.0
networkx==2.2
pykwalify==1.7.0
coloredlogs==10.0
colorhash==1.0.2
pika==0.12.0
packaging~=18.0
gevent==1.4
pytz==2018.9
python-dateutil==2.7.5
keras-applications==1.0.6
keras-preprocessing==1.0.5
